.chanPost {
    clear: both;
    margin: 1em;
}

.chanPostImage {
    float: left;
    max-height: 200px;
}

img:focus.chanPostImage {
    max-height: none;
}


.chanPostInfo {
    float: left;
    margin: 1em;
}

.chanPostBottom {
    clear: both;
}
